
// usage:
// :::SASS:::
// i.icon-facebook{@include image-icon('../images/icon-facebook.png');}

@mixin image-icon($img) {
	background: url($img) no-repeat center center;
	width: image-width($img);
	height: image-height($img);
	display: inline-block;
	vertical-align: inherit;
}


// usage:
// :::SASS:::
// div.opacity-div{@include my-opacity(0.5);}

@mixin my-opacity($value){
    opacity: $value;
    filter: alpha(opacity=100*$value);
}


// usage:
// :::HTML:::
// <div class="align-middle-wrapper">
//   <div class="middle-content">
//   </div>
// </div>
// :::SASS:::
// div.align-middle-wrapper{@include flex-center();}

@mixin flex-center(){
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
}


// usage:
// :::SASS:::
// div.transition-div{@include my-transition(0.2s);}

@mixin my-transition($time){
	$delay: 0s !default;
	-webkit-transition: all $time ease-in-out $delay;
	transition: all $time ease-in-out $delay;
}



// usage:
// :::HTML::
// <div class="content-aspect-ratio">
//   <div class="content-aspect-ratio">Your content ... </div>
// </div>

// :::SASS:::
// .content-aspect-ratio{ @include aspect-ratio(340, 280);}

// :::Generated CSS:::
// .content-aspect-ratio { position: relative; }
// .content-aspect-ratio:before { display: block; content: ""; width: 100%; padding-top: 82.35294%; }
// .content-aspect-ratio > .content { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}